 body {
     font-family: 'robotoregular';
     padding: 0;
     margin: 0;
 }
 
 .container-fluid {
     padding-left: 0%;
     padding-right: 0%;
 }
 
 ul>li>a,
 ul>button>a {
     font-family: 'robotoregular';
     font-weight: bold;
     color: white;
 }
 
 .main {
     background-color: gray;
     background-image: url("../assets/bg.jpg");
     background-size: cover;
     background-blend-mode: multiply;
     color: white;
 }
 
 .nv {
     padding-top: 3%;
 }
 
 .row {
     margin-left: 0;
 }
 
 .logo {
     height: 80px;
 }
 
 .mybutton,
 .learnmore {
     border-radius: 0.4rem;
     background-color: #18ea19;
     border-color: #18ea19;
     color: white;
 }
 
 .learnmore {
     padding: 1% 2%;
     margin-bottom: 10%;
 }
 
 .mid {
     text-align: center;
     margin-top: 5%;
     margin-bottom: 8%;
 }
 
 .green {
     color: #18ea19;
 }
 
 .mt {
     margin-top: 20%;
 }
 
 .ml {
     margin-left: 5%;
 }
 
 .skills {
     font-size: x-large;
 }
 
 .gb {
     background-color: #18ea19;
 }
 
 .prog {
     color: white;
     text-align: center;
     padding-top: 5%;
 }
 
 .fsw {
     margin-left: 45%;
 }
 
 .down {
     margin-bottom: 5%;
 }
 
 .ready {
     margin-top: 5%;
     margin-bottom: 5%;
 }
 
 .cent {
     text-align: center;
 }
 
 .greybg {
     background-color: #e6e6e6;
 }
 
 .pd {
     padding: 2%;
 }
 
 .pd2 {
     padding: 5%;
 }
 
 .pd3 {
     padding-bottom: 5%;
 }
 
 hr {
     margin-left: 5%;
     margin-right: 5%;
     border: 1px thin black;
 }
 
 .btn-dark {
     background-color: black;
 }